.App {
  background-color: #F7F7F7;
  max-width: 550px;
  padding: 50px 0 100px;
  border-radius: 18px;
 margin: 50px auto;
 display: block;

}

.App-logo {
  max-width: 60px;
  display: block;
  margin: 0 auto;
}


