.App {
  background-color: #F7F7F7;
  max-width: 550px;
  padding: 30px 9px 20px;
 margin: 50px auto;
 display: block;

}

.App-logo {
  max-width: 60px;
  display: block;
  margin: 0 auto;
}


footer {
  text-align: center;
  font-size: 12px;
  color: rgb(95, 93, 93);
  line-height: 2;
}

footer a {
  text-decoration: none;
}