.Dictionary {
  font-size: 15px;
  text-transform: capitalize;
text-align: left;
margin-left: 10px;

}

.Dictionary form {
margin: 10px 40px;
display: block;
}

.Dictionary .hints{
  text-align: left;
  margin-left: 50px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 10px;
  display: block;
}

.Dictionary .input-word{
  height: 64px;
  color: rgb(130, 133, 133);
}