.Dictionary {
  font-size: 15px;
  text-transform: capitalize;
text-align: center;

}

.Dictionary form {
margin: 10px 80px;
display: block;
}

.Dictionary .example{
  text-align: left;
  margin-left: 80px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 12px;
  display: block;
}

.Dictionary .input-word{
  height: 64px;
  color: rgb(130, 133, 133);
}