.Dictionary {
  font-size: 15px;
  text-transform: capitalize;
text-align: center;

}

.Dictionary form {
  font-size: 20px;
margin: 10px 80px;

}

.Dictionary .example{
  text-align: left;
  margin-left: 80px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 12px;
  display: block;
}

.Dictionary .input-word{
display: block;
  height: 64px;
  color: #666666;
  font-size: 18px;
  line-height: 21px;
  padding: 22px;
  border: 1px solid #dddddd;
  border-radius: 6px;

  width: 100%;
}